  <section>
    <div class="page">
      <div class="container-fluid">
        <div class="col-md-3">
          <div id="status_panel" class="panel panel-default">
            <div class="panel-heading">Connection Information</div>
            <div class="panel-body">
              <table class="table">
                <tbody>
                  <tr>
                    <td>App ID</td>
                    <td id="display_app_id"></td>
                  </tr>
                  <tr>
                    <td>User ID</td>
                    <td id="display_user_id">Not in Room</td>
                  </tr>
                  <tr id="channel_status">
                    <td>Channel status</td>
                    <td id="channel">-</td>
                  </tr>
                  <tr>
                    <td>Room Lock Status</td>
                    <td id="display_room_status">-</td>
                  </tr>
                  <tr>
                    <td>Media stream status</td>
                    <td>
                      <span id="isVideoMuted" class="circle glyphicon glyphicon-facetime-video"></span>
                      <span id="isAudioMuted" class="circle glyphicon glyphicon-volume-up"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div id="peer_video_list" class="col-md-12"></div>
          <div class="control_settings col-md-12">
            <hr>
            <div class="btn-group col">
              <button class="btn btn-default" disabled>
                <b>Settings:</b>
              </button>
              <button id="lock_btn" type="button" title="Lock room" class="btn btn-default">
                <span class="glyphicon glyphicon-lock"></span>
                <span class="glyphicon glyphicon-ok"></span>
              </button>
              <button id="unlock_btn" type="button" title="Unlock room" class="btn btn-default">
                <span class="glyphicon glyphicon-lock"></span>
                <span class="glyphicon glyphicon-remove"></span>
              </button>
              <button id="enable_audio_btn" type="button" title="Enable microphone" class="btn btn-default">
                <span class="glyphicon glyphicon-volume-up"></span>
                <span class="glyphicon glyphicon-ok"></span>
              </button>
              <button id="disable_audio_btn" type="button" title="Disable microphone" class="btn btn-default">
                <span class="glyphicon glyphicon-volume-up"></span>
                <span class="glyphicon glyphicon-remove"></span>
              </button>
              <button id="enable_video_btn" type="button" title="Enable webcam" class="btn btn-default">
                <span class="glyphicon glyphicon-facetime-video"></span>
                <span class="glyphicon glyphicon-ok"></span>
              </button>
              <button id="disable_video_btn" type="button" title="Disable webcam" class="btn btn-default">
                <span class="glyphicon glyphicon-facetime-video"></span>
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </div>
            <div class="col">
              <div class="input-group">
                <input id="display_user_info" type="text" class="form-control">
                <span class="input-group-btn">
                  <button id="update_user_info_btn" class="btn btn-default" title="Set name" type="button">
                    <span class="glyphicon glyphicon-user"></span> <b>Set name</b>
                  </button>
                  <button id="leave_room_btn" type="button" title="Leave room" class="btn btn-default">
                    <span class="glyphicon glyphicon-log-out"></span>
                    <b>Exit call</b>
                  </button>
                  <button id="restart_btn" type="button" title="Restart" class="btn btn-default">
                    <span class="glyphicon glyphicon-log-out"></span>
                    <b>Restart</b>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    var config = {
      apiKey:"90947753-2f8d-488f-952c-ed3627107eee",
      defaultRoom:"c947c4cc56"
    };
    /********************************************************
      API Settings
     *********************************************************/
    var Plurry = Plurry || {};
    Plurry.Peers = 0;
    Plurry.Streams = [];
    Plurry.Skylink = new Skylink();

    var _peerId = null;

    //Plurry.Skylink.setLogLevel(4);

    /********************************************************
      Skylink Events
     *********************************************************/
    //---------------------------------------------------
    Plurry.Skylink.on('incomingData', function (data, transferId, peerId, transferInfo, isSelf) {
      if (transferInfo.dataType !== 'blob') {
        console.info('incomingData', data, transferId, peerId, transferInfo, isSelf);
      }
    });
    Plurry.Skylink.on('incomingDataRequest', function (transferId, peerId, transferInfo, isSelf) {
      if (!isSelf && transferInfo.dataType !== 'blob') {
        Plurry.Skylink.respondBlobRequest(peerId, transferId, true);
      }
    })
    //---------------------------------------------------
    Plurry.Skylink.on('peerJoined', function (peerId, peerInfo, isSelf){
      if (isSelf) {
        $('#display_user_id').html(peerId);
        $('#isAudioMuted').css('color',
                               (peerInfo.mediaStatus.audioMuted) ? 'red' : 'green');
                               $('#isVideoMuted').css('color',
                                                      (peerInfo.mediaStatus.videoMuted) ? 'red' : 'green');
                                                      $('#leave_room_btn').show();
                                                      $('#presence_panel').show();
                                                      $('#chat_input').removeAttr('disabled');
                                                      // If not supportive of File, FileReader, Blob quit
                                                      if (window.File && window.FileReader && window.FileList && window.Blob) {
                                                        $('#file_panel').show();
                                                        $('#file_list_panel').show();
                                                      }
      } else {
        _peerId = peerId;
        $('#user' + peerId + ' .0').css('color','green');
        $('#user' + peerId + ' .video').css('color',
                                            (peerInfo.mediaStatus.videoMuted) ? 'red' : 'green');
                                            $('#user' + peerId + ' .audio').css('color',
                                                                                (peerInfo.mediaStatus.audioMuted) ? 'red' : 'green');
      }
    });
    //---------------------------------------------------
    Plurry.Skylink.on('incomingStream', function (peerId, stream, isSelf, peerInfo){
      if (!isSelf) {
        Plurry.Peers += 1;
      }
      var peerVideo;

      if ($('#video' + peerId).length === 0) {
        peerVideo = document.createElement('video');
        peerVideo.id = 'video' + peerId;
        peerVideo.className = 'col-md-6';
        if (window.webrtcDetectedBrowser !== 'IE') {
          peerVideo.autoplay = 'autoplay';
        }

        // mutes user's video
        if (isSelf && window.webrtcDetectedBrowser !== 'IE') {
          peerVideo.muted = 'muted';
        }
        $('#peer_video_list').append(peerVideo);
      } else {
        peerVideo = document.getElementById('video' + peerId);
      }

      attachMediaStream(peerVideo, stream);
      Plurry.Streams[peerId] = Plurry.Streams[peerId] || {};
      Plurry.Streams[peerId][stream.id] = peerVideo.src;
    });
    //---------------------------------------------------
    Plurry.Skylink.on('mediaAccessSuccess', function (stream){
      console.log("mediaAccess");
    });
    //---------------------------------------------------
    Plurry.Skylink.on('mediaAccessError', function (error){
      alert((typeof error === 'object') ? error.message : error);
    });
    //---------------------------------------------------
    Plurry.Skylink.on('readyStateChange', function (state, error){
      if (state === Plurry.Skylink.READY_STATE_CHANGE.ERROR) {
        for (var errorCode in Plurry.Skylink.READY_STATE_CHANGE_ERROR) {
          if (Plurry.Skylink.READY_STATE_CHANGE_ERROR[errorCode] ===
              error.errorCode) {
            alert('An error occurred parsing and retrieving server code.\n' +
                  'Error was: ' + errorCode);
          break;
          }
        }
      }
      $('#channel_status').show();
    });
    //---------------------------------------------------
    Plurry.Skylink.on('peerLeft', function (peerId, peerInfo, isSelf){
      //console.info('peerLeft', peerId, peerInfo, isSelf);
      Plurry.Peers -= 1;
      $('#video' + peerId).remove();
      $('#user' + peerId).remove();
      delete Plurry.Streams[peerId];
    });
    //---------------------------------------------------
    Plurry.Skylink.on('peerConnectionState', function (state, peerId) {
      var color = 'red';
      switch(state){
        case Plurry.Skylink.PEER_CONNECTION_STATE.HAVE_LOCAL_OFFER:
          case Plurry.Skylink.PEER_CONNECTION_STATE.HAVE_REMOTE_PRANSWER:
          case Plurry.Skylink.PEER_CONNECTION_STATE.HAVE_REMOTE_OFFER:
          case Plurry.Skylink.PEER_CONNECTION_STATE.HAVE_LOCAL_PRANSWER:
          color = 'orange';
        break;
        case Plurry.Skylink.PEER_CONNECTION_STATE.CLOSED:
          color = 'red';
        break;
        case Plurry.Skylink.PEER_CONNECTION_STATE.STABLE:
          color = 'green';
        break;
      }
      $('#user' + peerId + ' .6' ).css('color', color);
    });
    //---------------------------------------------------
    Plurry.Skylink.on('peerUpdated', function (peerId, peerInfo, isSelf) {
      if (isSelf) {
        $('#isAudioMuted').css('color',
                               (peerInfo.mediaStatus.audioMuted) ? 'red' : 'green');
                               $('#isVideoMuted').css('color',
                                                      (peerInfo.mediaStatus.videoMuted) ? 'red' : 'green');
      } else {
        $('#user' + peerId + ' .video').css('color',
                                            (peerInfo.mediaStatus.videoMuted) ? 'red' : 'green');
                                            $('#user' + peerId + ' .audio').css('color',
                                                                                (peerInfo.mediaStatus.audioMuted) ? 'red' : 'green');
                                                                                $('#user' + peerId + ' .name').html(peerInfo.userData);
      }

      if ($('#video' + peerId).find('video').length > 0) {
        if (peerInfo.mediaStatus.videoMuted) {
          $('#video' + peerId)[0].src = '';
        } else {
          $('#video' + peerId)[0].src = Plurry.Streams[peerId];
        }
      }
    });
    //---------------------------------------------------
    Plurry.Skylink.on('roomLock', function (isLocked, peerId, peerInfo, isSelf) {
      $('#display_room_status').html((isLocked) ? 'Locked' : 'Not Locked');
    });
    //---------------------------------------------------
    Plurry.Skylink.on('channelOpen', function () {
      $('#channel').css('color','green');
      $('#channel').html('Active');
    });
    //---------------------------------------------------
    Plurry.Skylink.on('channelClose', function () {
      $('#leave_room_btn').hide();
      $('#channel').css('color','red');
      $('#channel').html('Closed');
    });
    //---------------------------------------------------
    Plurry.Skylink.on('channelMessage', function (){
      $('#channel').css('color','00FF00');
      $('#channel').html('Connecting...');
      setTimeout(function () {
        $('#channel').css('color','green');
        $('#channel').html('Active');
      }, 1000);
    });
    //---------------------------------------------------
    Plurry.Skylink.on('mediaAccessError', function (error) {
      alert((error.message || error));
    });

    Plurry.Skylink.on('serverPeerJoined', function (serverPeerId, serverPeerType) {
      console.info('serverPeerJoined', serverPeerId, serverPeerType);
    });

    Plurry.Skylink.on('serverPeerLeft', function (serverPeerId, serverPeerType) {
      console.info('serverPeerLeft', serverPeerId, serverPeerType);
    });

    Plurry.Skylink.on('peerJoined', function (peerId, peerInfo, isSelf) {
      console.info('peerJoined', peerId, peerInfo, isSelf);
    });

    Plurry.Skylink.on('peerLeft', function (peerId, peerInfo, isSelf) {
      console.info('peerLeft', peerId, peerInfo, isSelf);
    });

    Plurry.Skylink.on('peerRestart', function (peerId, peerInfo, isSelf) {
      console.info('peerRestart', peerId, peerInfo, isSelf);
    });

    Plurry.Skylink.on('serverPeerRestart', function (serverPeerId, serverPeerType) {
      console.info('serverPeerRestart', serverPeerId, serverPeerType);
    });

    //------------- join room ---------------------------
    var displayName = 'name_' + 'user_' + Math.floor((Math.random() * 1000) + 1);

    Plurry.Skylink.init(config, function (error, success) {
      if (success) {
        Plurry.Skylink.joinRoom({
          userData: displayName,
          audio: { stereo: true },
          video: {
            resolution: {
              width: 1280,
              height: 720
            }
          }
        });
      }
    });

/********************************************************
  DOM Events
 *********************************************************/
    $(document).ready(function () {
      //---------------------------------------------------
      $('#display_app_id').html(config.apiKey);
      //---------------------------------------------------
      $('#update_user_info_btn').click(function () {
        Plurry.Skylink.setUserData($('#display_user_info').val());
      });
      //---------------------------------------------------
      $('#lock_btn').click(function () {
        Plurry.Skylink.lockRoom();
      });
      //---------------------------------------------------
      $('#unlock_btn').click(function () {
        Plurry.Skylink.unlockRoom();
      });
      //---------------------------------------------------
      $('#enable_audio_btn').click(function () {
        Plurry.Skylink.enableAudio();
      });
      //---------------------------------------------------
      $('#disable_audio_btn').click(function () {
        Plurry.Skylink.disableAudio();
      });
      //---------------------------------------------------
      $('#enable_video_btn').click(function () {
        Plurry.Skylink.enableVideo();
      });
      //---------------------------------------------------
      $('#disable_video_btn').click(function () {
        Plurry.Skylink.disableVideo();
      });
      //---------------------------------------------------
      $('#leave_room_btn').click(function () {
        Plurry.Skylink.leaveRoom();
      });
      $('#restart_btn').click(function () {
        Plurry.Skylink.refreshConnection();
      });
    });
  </script>
