<div class="container-fluid">
  <!-- Page Heading -->
  <!-- row -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Product Added <small>For Purchaser</small>
      </h1>
      <form class="product-registration-form" method="post" action="/dashboard/<%= @group.name %>">
        <div class="field">
          <label>Product Code 1</label><br>
          <input type="text" name="products[]" placeholder: "제품의 코드를 입력..." AUTOCOMPLETE=OFF>
        </div>
        <div class="field">
          <label>Product Code 2</label><br>
          <input type="text" name="products[]" placeholder: "제품의 코드를 입력..." AUTOCOMPLETE=OFF>
        </div>
        <div class="field">
          <input type="submit" value="등록하기">
        </div>
      </form>
    </div>
  </div>
</div>
