<div data-role="header" data-theme="b">
  <h1>Plurry</h1>
</div>
<div id="credentials">
  접속 타입 선택
  <input type="hidden" id="caller-id" size="15">
<!--
  <button id="connect">Connect</button>
-->
  <a href="#" id="station_btn" class="ui-btn ui-btn-inline">플러리 스테이션</a>
  <a href="#" id="client_btn" class="ui-btn ui-btn-inline">원격 제어용</a>
</div>

<div id="dialler" data-active="false">
  <input type="hidden" id="recipient-id" value="station">
  <button id="dial" style="display:none;">Station에 접속하기</button>

  <video id="remote-video" autoplay></video>
  <video id="local-video" autoplay></video>
</div>
<div id="messages">
</div>
