<h1>로그인</h1>
<form class="sign-in-form" method="post" action="/users/sign_in">
  <input type="email" name="email" placeholder="이메일을 입력..." required>
  <input type="password" name="password" placeholder="비밀번호을 입력..." required>
  <input type="submit" value="로그인">
</form>
