<form class="sign-up-form" method="post" action="/users">
  <input type="email" name="email" placeholder="이메일을 입력..." required>
  <input type="password" name="password" placeholder="비밀번호을 입력..." required>
  <input type="password" name="password_confirmation" placeholder="비밀번호을 재입력..." required>
  <input type="submit" value="회원가입">
</form>
