<form method="post" action="/users">
  <input type="email" placeholder="이메일을 입력..." required>
  <input type="password" placeholder="비밀번호을 입력..." required>
  <input type="password" placeholder="비밀번호을 재입력..." required>
</form>
