<!DOCTYPE html>
<html np-app="bot">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="plurry dashboard">
    <meta name="author" content="cycorld">

    <title>Plurry Dashboard</title>
    <script src="javascripts/jquery/jquery-2.1.4.min.js"></script>
    <script src="javascripts/bootstrap/bootstrap.min.js"></script>
    <script src="javascripts/angular/angular.min.js"></script>
    <script src="javascripts/dashboard/main.js"></script>
    <script src="javascripts/dashboard/peer.js"></script>
    <link href="stylesheets/bootstrap/bootstrap-theme.min.css" rel="stylesheet">
    <link href="stylesheets/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/dashboard/morris.css" rel="stylesheet">
    <link href="stylesheets/dashboard/theme.css" rel="stylesheet">
    <link href="stylesheets/dashboard.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>



      <!-- Morris Charts JavaScript -->
      <script src="javascripts/morris/raphael.min.js"></script>
      <script src="javascripts/morris/morris.min.js"></script>
      <script src="javascripts/morris/morris-data.js"></script>

    </body>
  </html>

