#credentials, #dialler, #messages {
  clear: both;
}

#client_btn, #dial {
  float: right;
}

.video-title {
  float: left;
}

#remote-video {
  width: 100%;
  max-width: 100%;
}

#local-video {
  position: absolute;
  right: 0;
  bottom: 8%;
  max-width: 150px;
}

.joystick-limit {
  .joystick {
    position: relative;
    background-color: black;
    margin: 0px auto;
    margin-bottom: 20px;
    .joystick-point {
      position: absolute;
      height: 10px;
      width: 10px;
      background: red;
      left: calc( 50% - 5px );
      top: calc( 50% - 5px );
      border-radius: 5px;
    }
    .joystick-base {
      position: absolute;
      border: 1px solid #ddd;
      background: #eee;
    }
  }
}

#joystick-delay {
  display: block;
  width: 100%;
  margin-bottom: 25px;
}

.joystick-delay-message {
  margin-bottom: 25px;
}

.feed-button {
  width: 150px;
  line-height: 50px;
  margin: 20px auto;
  border-radius: 5px;
  background-color: lightskyblue;
  color: white;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    background-color: #34A4E8;
  }
}
.buttons {
  text-align: center;
  .schedule-add-button, .schedule-delete-button {
    display: inline-block;
    width: 150px;
    line-height: 50px;
    margin: 15px 7.5px;
    border-radius: 5px;
    background-color: lightskyblue;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
      background-color: #34A4E8;
    }
  }
}

.product {
  .panel {
    height: 500px;
    overflow-y: scroll;
  }
}

.product-registration-form {
  .field {
    text-align: center;
    label {
      display: block;
      font-size: 18px;
    }
    input[type=text] {
      width: 280px;
      height: 45px;
      margin-bottom: 20px;
      padding: 10px;
      background-color: rgba(204, 204, 204, 0.5);
      border: 3px solid #000;
      border-radius: 5px;
      color: black;
      outline: none;
      box-sizing: border-box;
      &::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.2);
      }
    }
    input[type=submit], .add-product {
      width: 200px;
      margin: 10px auto;
      background-color: darkblue;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 50px;
      &:hover {
        background-color: #2B9FC5;
      }
    }
  }
}
